<p-sidebar id="sidebartop" appendTo="body" autoZIndex="true" modal="true" [(visible)]="sidebarsService.sidebars.top.display" position="top">

</p-sidebar>

<p-sidebar id="sidebarright" appendTo="body" autoZIndex="true" modal="true" [(visible)]="sidebarsService.sidebars.right.display" position="right">

</p-sidebar>


<p-sidebar id="sidebarbottom" appendTo="body" autoZIndex="true" modal="true" [(visible)]="sidebarsService.sidebars.bottom.display" position="bottom">

</p-sidebar>


<p-sidebar id="sidebarleft" appendTo="body" autoZIndex="true" modal="true" [(visible)]="sidebarsService.sidebars.left.display" position="left">
  <maerdo-menu></maerdo-menu>
</p-sidebar>

